:host {

  .toolbar {

    border-bottom: 1px solid #aaa;
    background-color: #f5f5f5;

    .button {
      margin: 8px;
      padding: 4px;
    }
  }

  .map {
    width: 100%;
    height: calc(100vh - 45px);
  }
}
