.map {
  width: 100%;
  height: 100vh;
}

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f5f5f5;
  transform: translateY(-50%);

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0.5em;

    li {
      padding: 0.5em 0;

      button {
        padding: 8px;
        width: 100px;
      }
    }
  }
}
